{% extends 'base.html' %}
{% block content %}
<div class="card-header ">

    <form method="GET">

        <div class="btn btn-light">
            الشركة: {{ myFilter.form.company }}
            المندوب: {{ myFilter.form.delegate }}
            المحاسب: {{ myFilter.form.accountant }}
            من : {{ myFilter.form.start_date  }}
            الى: {{ myFilter.form.end_date  }}
            
        </div>
        <input class="submit-btn" type="submit" value="create">
    </form>

</div>

<!-- جدول للعرض -->
<div class="card shadow mb-4">
    <!-- <div class="card-header py-3"></div> -->
    <div class="card-body">
        <div class="table-responsive ">
            <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>رقم السند </th>
                        <th>اسم السائق </th>
                        <th> المسار</th>
                        <th>المصدر</th>
                        <th>امين الصندوق</th>
                        <th>رقم الفاتروة</th>

                    </tr>
                </thead>
                <tbody>
                    {% for item in catch_receipt %}
                    <tr>
                        <td><a href="{% url 'catch_receipt_details' item.catchReceipt_id%}">{{ item.catchReceipt_id }}</a></td>
                        <td><a href="{% url 'driver_details' item.driver.pk%}">{{ item.driver }}</a></td>
                        <td> من: {{ item.source }} -- الى: {{ item.destination }} </td>
                        <td>{{ item.company}} </td>

                        <td>{{ item.accountant }}</td>

                        {% if item.invoices_id != None %}
                        <td>{{ item.invoices_id}} </td>
                        {% else %}
                        <td><button type="button" class="btn btn-light border-black"> <a
                                    href="{% url 'edit_catch_receipt' item.pk%}"
                                    class="text-decoration-none text-black fw-bolder">فوترة</a></button></td>
                        {% endif %}
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}