{% extends 'base.html' %}



{% block item %}
<!-- butten add -->
<div class="btn-group float-end" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
    <label class="btn shadow p-3 mb-5 bg-body rounded mx-2" for="btnradio1">قائمة سندات القبض</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
    <label class="btn shadow p-3 mb-5 bg-body rounded  mx-2" for="btnradio2">قائمة سندات الصرف</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
    <label class="btn shadow p-3 mb-5 bg-body rounded  mx-2" for="btnradio3">قائمة كشوفات العهد</label>
</div>
<div class="d-grid gap-2 d-md-block">
    <button class="btn btn-secondary p-3 mb-5" type="button">سند قبض</button>
    <button class="btn btn-warning p-3 mb-5 " type="button">سند صرف</button>
    <button class="btn btn-primary p-3 mb-5 " type="button">كشف جديد</button>
</div>


{% endblock %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>رقم السند </th>
                        <th>اسم السائق </th>
                        <th>Company city</th>
                        <th>Charging area</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Cmpany id </th>
                        <th>Name</th>
                        <th>Company city</th>
                        <th>Charging area</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for company in companies %}
                    <tr>
                        <td>{{ company.company_id }} </td>
                        <td>
                            <a href="{% url 'company_details' company.pk%}">{{ company.company_name }}</a>
                        </td>
                        <td>{{ company.company_city }} </td>
                        <td>{{ company.charging_area}} </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

{% block content %}

<!-- جدول للعرض -->

{% endblock %}